<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer style1 footer-home5-style">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                    <div class="footer-logo mb-40">
                        <a href="index.html"><img src="assets/images/logo-blue.png" alt=""></a>
                    </div>
                    <div class="textwidget white-color pb-40">
                        <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aquis Lorem ipsum dolor sit amet.</p>
                    </div>
                    <ul class="footer-social md-mb-30">
                        <li>
                            <a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a>
                        </li>
                        <li>
                            <a href="# " target="_blank"><span><i class="fa fa-twitter"></i></span></a>
                        </li>

                        <li>
                            <a href="# " target="_blank"><span><i class="fa fa-pinterest-p"></i></span></a>
                        </li>
                        <li>
                            <a href="# " target="_blank"><span><i class="fa fa-instagram"></i></span></a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10 pl-55 md-pl-15">
                    <h3 class="footer-title">Quick Links</h3>
                    <ul class="site-map">
                        <li><a href="tax-strategy.html">Home</a></li>
                        <li><a href="business-planning.html">Events</a></li>
                        <li><a href="financial-advices.html">Sponsor</a></li>
                        <li><a href="insurance-strategy.html">About Us</a></li>
                        <li><a href="manage-investment.html">Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10 pl-55 md-pl-15">
                    <h3 class="footer-title">Recent Posts</h3>
                    <ul class="site-map">
                        <li><a href="business-planning.html">Greater Houston Hamfest / iSparkfest</a></li>
                        <li><a href="tax-strategy.html">Call to Makers for the 5th Annual Houston Maker Faire 2017</a></li>
                        <li><a href="financial-advices.html">Houston Makerspace Crawl 2017</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                    <h3 class="footer-title">Contact Info</h3>
                    <ul class="address-widget">
                        <li>
                            <i class="flaticon-location"></i>
                            <div class="desc">Houston, TX, United States</div>
                        </li>
                        <li>
                            <i class="flaticon-call"></i>
                            <div class="desc">
                                <a href="tel:(+880)15569569365">Call Us +56 (0) 000 345 0251</a>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <div class="desc">
                                <a href="mailto:support@rstheme.com">info@innovation-spark.org</a>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-clock-1"></i>
                            <div class="desc">
                                Office Hours: 8AM - 11PM
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6">
                    <div class="copyright text-lg-start text-right ">
                        <p>Design and Developed by thesparksolutionz.com</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="copyright text-lg-start text-center ">
                        <p>Copyright © 2022 Innovation Spark Festival All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- start scrollUp  -->
<div id="scrollUp" class="paste-color">
    <i class="fa fa-angle-up"></i>
</div>
<!-- End scrollUp  -->